*{
    margin: 0;
    padding: 0;
}
div{
    border-radius: 10px;
}
.box{
    position: relative;
    border: 4px solid wheat;
    width: 500px;
    height: 500px;
    left: 100px;
    top: 100px;
}
.o{
    background-color: red;
    position: absolute;
    width: 350px;
    height: 350px;
    left: 10px;
    top: 10px;
    z-index: 2;
}
.a{
    background-color: rgb(76, 118, 207);
    position: absolute;
    width: 350px;
    height: 350px;
    left: 60px;
    top: 60px;
    z-index: 3;
}
.b{
    background-color: rgb(100, 255, 80);
    position: absolute;
    width: 350px;
    height: 350px;
    left: 110px;
    top: 110px;
    z-index: 13;
}