*{
   margin: 0; 
   padding: 0;
}
body{
    background-color: #ddd;
    font-family: thoma;
    font-size: 25px;
}

/* .main, .slider, .slider img, .nav, .nav ul, .nav ul li, .content{
    width: 700px;
} */
/* .main, .slider, .slider img, .nav ul, .nav ul li{
    float: left;

} */
.slider  img{
    width: 100%;
}
.nav ul, .nav ul li{
    float: left;
    
}
.nav ul li{
    background-color: #000;
    text-align: center;
    border-right: 1px solid #fff;
}
.nav ul li a{
text-decoration: none;
color:#fff;
line-height: 50px;
}
.nav ul{
    list-style-type: none;
    display: flex;
}
.content h1{
    margin: 20px 40px;
    padding: 10px 0px;
    border-bottom: 8px solid red;
    width: 75%;
}
.content p{
    padding: 10px;
}
.nav{
    position: sticky;
    top: -470px;
}
@media screen and(min-width: 900px;) {
    .nav{
        top: -8200px
    }
}